<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true" syntaxCheck="false">
    <testsuite name="Magento Full Test">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../../../app/code</directory>
            <exclude>
                <directory prefix="mysql4-">../../../app/code</directory>
                <directory prefix="mssql-">../../../app/code</directory>
                <directory prefix="data-">../../../app/code</directory>
                <directory prefix="install-">../../../app/code</directory>
                <directory prefix="upgrade-">../../../app/code</directory>

                <directory suffix=".php">../../../app/code/core/Mage/Admin/Model/Acl/Assert</directory>
                <directory suffix=".php">../../../app/code/core/Enterprise/Cms/controllers/Adminhtml/Cms/Page</directory>
                <file>../../../app/code/core/Mage/Adminhtml/Block/Widget/Grid/Block.php</file>
                <directory suffix=".php">../../../app/code/core/Mage/Install</directory>
                <file>../../../app/code/core/Mage/Adminhtml/Model/Extension.php</file>
                <directory suffix=".php">../../../app/code/core/Mage/Api/Model/Acl/Assert</directory>
                <file>../../../app/code/core/Mage/Catalog/Model/Resource/Eav/Mysql4/Product/Attribute/Backend/Gallery.php</file>
                <file>../../../app/code/core/Mage/Core/Model/Mysql4/Design/Theme/Collection.php</file>
                <file>../../../app/code/core/Mage/Dataflow/Model/Convert/Iterator/File/Csv.php</file>
                <file>../../../app/code/core/Mage/Dataflow/Model/Convert/Iterator/Http.php</file>
                <file>../../../app/code/core/Mage/Dataflow/Model/Convert/Iterator.php</file>
                <file>../../../app/code/core/Mage/Dataflow/Model/Convert/Validator/Column.php</file>
                <file>../../../app/code/core/Mage/Dataflow/Model/Session/Adapter/Http.php</file>
                <file>../../../app/code/core/Mage/Payment/Model/Paygate/Request.php</file>
                <file>../../../app/code/core/Mage/Usa/Model/Tax/Uszip.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./unit-tests-log/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox-html" target="./unit-tests-log/testdox.html" />
    </logging>

    <php>
        <ini name="memory_limit" value="2048M" />
    </php>
</phpunit>
